/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  box-sizing: border-box;
}
.form-create{
  width: 100%;
  padding: 1em;
  background-color: #159895;
}
.form-create input{
  width: 100%;
  padding: 0.5em;
}
.form-create button{
  margin-top: 0.5em;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
.form-create h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  padding-top: 0;
}
.list-book{
  width: 70%;
  margin: 15px auto;
}
.item-book{
  width: 16%;
  display: inline-block;
  padding: 5px;
}
.item-book img{
  display: block;
}
.item-book button{
  margin: 5px;
  padding: 5px 5px;
  display: inline-block;
} */
/*  */
*{
  box-sizing: border-box;
}
.form-create{
  width: 100%;
  padding: 1em;
  background-color: #408E91;
}
.form-create input{
  width: 100%;
  padding: 0.5em;
}
.form-create button{
  margin-top: 0.5em;
  padding: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
.form-create h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  padding-top: 0;
}
.list-books{
  width: 70%;
  margin: 15px auto;
}
.item-book{
  width: 33%;
  display: inline-block;
  padding: 15px;
}
.item-book img {
  width: 100%;
}
.item-book button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}